<form action='/sign_up' method='post'>
  <lable for='name'>
    Name:<input type='text' name='name' value='name'>
  </lable>
  <lable for='eamil'>
    Email:<input type='text' name='email' value='email'>
  </lable>
  <lable for='password'>
    Password:<input type='text' name='password' value='password'>
  </lable>
  <lable for='password_confirmation'>
    Password Confirmation:<input type='text' name='password_confirmation' value='password confirmation'>
  </lable>
  <lable for='user name'>
    User name:<input type='text' name='user_name' value='user_name'>
  </lable>
  <input type='submit' value='Sign up!'>
</form>
